*{
  margin: 0;
  box-sizing: border-box;
}
body{
    background: linear-gradient(90deg,rgba(20, 29, 92, 1) 0%, rgba(60, 155, 163, 1) 100%);
}
.wrapper{
    width: 50%;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #cdcbcb;
    border-radius: 8px;
    box-shadow: inset 0 0 10px #2a2727;
}
h2{
    font-size: 32px;
    color: #5e5ee9;
    text-transform: uppercase;
}
div input{
    outline: none;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 0 10px;
    margin: 20px;
    font-size: 16px;
}
div input:focus{
    border: 2px solid rgb(46, 2, 221);
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: #f2f2f2;
  margin-bottom: 24px;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
li.done {
  text-decoration: line-through;
  color: #fff;
  background-color: #28a745;
}

button {
  cursor: pointer;
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #5e5ee9;
  color: #fff;
  font-size: 16px;
  transition: transform .1s ease-in;
}
button:hover{
    opacity: 0.9;
    transform: scale(0.98);
}
.wrapper p{
    font-size: 24px;
    color: #fff;
}
.delete-btn {
  background: crimson;
  color: white;
}
.filters button {
  margin-right: 4px;
}
.edit-input {
  width: 70%;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #5e5ee9;
}
.actions{
  display: flex;
  align-items: center;
}
#count{
  margin: 32px 0;
}
/* Toast messsage */
#toast{
  position: fixed;
  top: 32px;
  right: 32px;
}
.toast{
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  padding: 20px 0;
  min-width: 350px;
  max-width: 400px;
  height: 60px;
  margin: 0 auto;
  transition: all linear 0.3s;
}

@keyframes slideInLeft {
  from {
    transform: translateX(calc(100% + 32px));
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeOut{
  to{
    opacity: 0;
  }
}


.toast--success{
 border-color: #47d864;
}
.toast--success .toast__icon{
 color: #47d864;
}
.toast--error{
 border-color: #dc143c;
}
.toast--error .toast__icon{
 color: #dc143c;
}


.toast + .toast{
  margin-top: 24px;
}
.toast__icon{
  font-size: 24px;
}
.toast__icon,
.toast__close{
 padding: 0 16px;
}
.toast__body{
  flex-grow: 1;
}
.toast__title{
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.toast__msg{
  font-size: 14px;
  margin-top: 4px;
  color: #333;
  line-height: 1.5;
}
.toast__close{
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

