body{
    background: linear-gradient(90deg,rgba(20, 29, 92, 1) 0%, rgba(60, 155, 163, 1) 100%);
}
.wrapper{
    width: 50%;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #cdcbcb;
    border-radius: 8px;
    box-shadow: inset 0 0 10px #2a2727;
}
h2{
    font-size: 32px;
    color: #5e5ee9;
    text-transform: uppercase;
}
div input{
    outline: none;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 0 10px;
    margin: 20px;
    font-size: 16px;
}
div input:focus{
    border: 2px solid rgb(46, 2, 221);
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: #f2f2f2;
  margin-bottom: 24px;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
li.done {
  text-decoration: line-through;
  color: gray;
}

button {
  cursor: pointer;
  padding: 10px 15px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: #5e5ee9;
  color: #fff;
  font-size: 16px;
  transition: transform .1s ease-in;
}
button:hover{
    opacity: 0.9;
    transform: scale(0.98);
}
p{
    font-size: 24px;
    color: #fff;
}
.delete-btn {
  background: crimson;
  color: white;
}
.filters button {
  margin-right: 4px;
}
.edit-input {
  width: 70%;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: 2px solid #5e5ee9;
}
.actions{
  display: flex;
  align-items: center;
}